.header-wrapper {
  height: var(--topbarHeight);
  background-color: var(--topbarBackgroundColor);
  display: flex;
  align-items: stretch;
  position: relative;
}

.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-inline: 2rem;
  padding-block: 8px;
  flex-wrap: wrap;
  row-gap: 0.4rem;
}

.header-wrapper .header-title {
  align-self: center;
}

.header-wrapper .header-title > h1 {
  color: var(--topbarTextColor);
  font-family: var(--fontFamily);
  font-size: 1.2rem;
  margin-bottom: 0;
}

#collapse-button {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  border: 2px solid #e6e6e6;
  background-color: var(--sidebarBackgroundColor);
  width: 2rem;
  height: 2rem;
  display: flex;
  border-radius: 50%;
  padding: 8px;
  z-index: 99;
}

#collapse-button svg {
  width: 100%;
  fill: #002f62;
}

#collapse-button svg.opened {
  rotate: -180deg;
  transition: rotate ease-in-out 0.2s;
  margin-right: 2px;
}

#collapse-button svg.closed {
  rotate: 0deg;
}
